<%= javascript_include_tag 'app/index' %>
<button id="jquery-ui-dialog-opener">ダイアログを開く</button>

<div id="jquery-ui-dialog" title="ダイアログooo">
  <div id="default-form">
  <%= form_tag({:controller=>"jquery_ui", :action=>"first"}, :remote => true) do |f| %>
  サーバー名: <input type="text" name="default-form[name]" value="">
  <input type="hidden" name="before_partial" value="default-form">
  <input type="submit" name="test" value="次へ">
  <% end%>
  </div>
</div>





